@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6%;
    text-align: left;
  }
 header h1 {
    margin-bottom: 0; 
  nav {
    flex-direction: row;
    gap: 1.25rem;
  }
  main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
  }
main h1 {
    font-size: 2.3rem;
  }
}}